::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background-color: #cacaca;
border-radius: 10px;
border: 3px solid #ffffff;
}

*, *::before, *::after {
box-sizing: border-box;
}

* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
font-family: "Inter", sans-serif;
background-color: #ffffff;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}

/* CSS reset above */

a {
  text-decoration: none;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cacaca;
}

.hamburger-menu {
  max-height: 28px;
  stroke-width: 1.7;
  cursor: pointer;
}

.header-left {
  display: none;
}

.header-right {
  display: flex;
  gap: 12px;
}

.add-note-btn {
  height: 2rem;
  aspect-ratio: 1 / 1;
  background-color: #ffcc4b;
  border: none;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s;
}

.add-note-btn:hover {
  opacity: 0.8;
}

.add-note-img {
  max-height: 19px;
  margin: 0 auto;
}

.profile-container {
  height: 2rem;
  aspect-ratio: 1 / 1;
  background-image: url('images/pfp.jpg');
  background-size: cover;
  border-radius: 50px;
}

.add-note-dialog {
  margin-top: 8px;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  width: 230px;
  height: 380px;
  overflow: auto;
}

.add-note-dialog[open] {
  display: block;
}

.add-note-form h3 {
  font-size: 20px;
}

#add-note-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
}

#add-note-form div {
  font-size: 14px;
}

.title-container,
.description-container,
.project-classification-container,
.due-date-container,
.priority-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

#title, #description, #project-classification, #due-date, #priority {
  padding: 4px 6px;
  border: 1px solid #cacaca;
  border-radius: 6px;
  font-size: 13px;
}

#title:focus, #description:focus, #due-date:focus {
  border: 2px solid black;
  outline: #000000;
}






.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 280px;
  height: 100vh;
  background-color: #ffffff;
  color: #000000;
  border-right: 1px solid #cacaca;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: left 0.4s ease;
  z-index: 1000;
}

.aside-header {
  margin-bottom: 20px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.aside-header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobile-sidebar-logo {
  max-height: 25px;
}

.mobile-sidebar-heading {
  font-size: 32px;
  font-weight: 800;
}

.x-btn {
  padding: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.sidebar.active {
  left: 0;
}
.overlay.active {
  display: block;
}

.sidebar h3, .sidebar-desktop h3 {
  padding: 0 10px;
}

.sidebar ul, .sidebar-desktop ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.sidebar ul li, .sidebar-desktop ul li {
  margin: 8px 0;
  padding: 4px 10px;
  border-radius: 8px;
  transition: font-weight 0.3s, background-color 0.3s;
  cursor: pointer;
}

.sidebar ul li a, .sidebar-desktop ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

.sidebar ul li:hover, .sidebar-desktop ul li:hover {
  background-color: #efefef;
  font-weight: 600;
}

.sidebar .ul-notes {
  border-bottom: 1px solid #cacaca;
  border-width: 100%;
}




main {
  padding: 0 20px 0 20px;
  display: flex;
  gap: 20px;
}

.sidebar-desktop {
  display: none;
  padding: 20px 20px 0 0;
  border-right: 1px solid #cacaca;
  min-height: 100vh;
  min-width: 200px;
}

section {
  display: flex;
  width: 100%;
}

.notes-container {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.note {
  padding: 16px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border: 1px solid #cacaca;
  border-radius: 8px;
}

.note-header-container {
  margin-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.note-heading {
  font-size: 20px;
  margin-right: 0px;
}

.note-remove {
  max-height: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.note-remove:hover {
  background-color: #efefef;
}

.note-statuses {
  margin: 0 0 12px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-weight: 500;
}

.note-statuses span {
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 13px;
}

.note-project-classification {
  background-color: #a9b4f5;
}

.note-priority-level {
  background-color: #f9bf74;
}

.note-due-date {
  background-color: #f59b9b;
}

.author {
  margin-left: 4px;
  padding: 4px 10px;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
  border-radius: 8px;
}

@media (min-width: 460px) {
  .notes-container {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media (min-width: 740px) {
  .notes-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (min-width: 900px) {
  .sidebar-desktop {
    display: block;
  }

  nav {
    padding: 20px 20px 20px 30px;
  }

  .hamburger-menu {
    display: none;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}